
    <div class="row">
        <div class="text-center center-div" id="login">
            <div class="container w-25 border py-5">
                <div class="title pb-5">
                    <h2 class="font-weight-bold">Login System</h2>
                    <span >Login for the existing user</span>
                </div>

                {{#if loginError}}
                    <p class="logerr" style="color:red;">Invalid user name or Password</p>
                {{/if}}

                <div class="row">
                    <form action="/login" method="post" class="pt-3">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email" name="email" required>
                        </div>
                        <div class="form-group">
                             <input type="password" class="form-control" name="password" placeholder="Password"required>
                        </div>
                        <button type="submit" class="btn btn-success rounded-pill">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>